body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
}
#container {
  position: relative;
  width: 700px;
  border-left: 3px #000 solid;
  border-right: 3px #000 solid;
  border-bottom: 3px #000 solid;
}

#status-bar {
  height: 50px;
  background: #000;
  color: #fff;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

canvas:focus {
  outline: 0;
}

#game-status {
  position: absolute;
  width: 300px;
  top: 300px;
  color: white;
  left: calc(700px / 2 - 300px / 2);
  z-index: 2;
  text-align: center;
  background: rgb(0, 0, 0, 0.8);
  padding: 30px;
  line-height: 1.5;
}
